.subscribe-button {
  background-color: rgb(204, 0, 0);
  color: white;
  border: none;
  /* height: 36px;
  width: 105px; */
  padding: 10px 16px 10px 16px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
  vertical-align: top;
}

.subscribe-button:hover {
  opacity: 0.7;
}

.subscribe-button:active {
  opacity: 0.5;
}

/*  */
.join-button {
  background-color: white;
  border-color: rgb(6, 95, 212);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  color:rgb(6, 95, 212);
  /* height: 36px;
  width: 62px; */
  padding: 9px 16px 9px 16px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.15s, color 0.15s;
}

.join-button:hover {
  background-color: rgb(6, 95, 212);
  color: white;
}

.join-button:active {
  opacity: 0.7;
}

/*  */
.tweet-button {
  background-color: rgb(29, 155, 240);
  color:white;
  border: none;
  /* height: 30px;
  width: 70px; */
  padding: 9px 16px 9px 16px;
  border-radius: 25px;
  cursor: pointer;
  margin-right: 8px;
  font-weight: bold;
  font-size: 15px;
  transition: box-shadow 0.15s;
}

.tweet-button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.tweet-button:active {
  opacity: 0.6;
}
